body {
                background-color: rgb(18, 16, 22);
        }

/* .jumbotron {
            background: rgb(16, 17, 15);
        } */
        /* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
            margin-bottom: 0;
            border-radius: o;
        }

.fa {
            padding: 20px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
            }
        
.fa:hover {
            opacity: 0.7;
         }
    
        Add a gray background color and some padding to the footer */
        /* footer {
            background-color: #f2f2f2;
            padding: 25px;
        } */

        /* Style buttons */

    /* Darker background on mouse-over */
/* .btn:hover {
        background-color: RoyalBlue;
        } */ */

.post_form_data{
    color: bisque;
}
            
input {
    color:black;
}
 
.visitor{
    text-align-last: right;
    color: rgb(122, 226, 240);
}

/* .blink{
		width:200px;
		height: 50px;
	    background-color: magenta;
		padding: 15px;	
		text-align: center;
		line-height: 50px;
	}
span{
		font-size: 25px;
		font-family: cursive;
		color: white;
		animation: blink 1s linear infinite;
    }
    
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
} */


.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #282222;
}