<!DOCTYPE html>
{% extends "jobs/base.html" %}
{% block body_block %}

{% load static %}
    <ul>
        <li><a href="https://www.facebook.com/kittu.assu/" class="fa fa-facebook"></a></li>
        <li><a href="https://www.linkedin.com/in/krishna-kanth-b8770058/ " class="fa fa-linkedin"></a></li>
        <li><a href="https://github.com/kittu603" class="fa fa-github"></a></li>
    </ul>
    <form method = "POST">
        {% csrf_token %}
        {{ form.as_ul }}
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>

{% endblock %}

    