<!DOCTYPE html>
{% extends "jobs/base.html" %}
{% block body_block %}

{% load static %}
    <ul>
        <li><a href="https://www.facebook.com/kittu.assu/" class="fa fa-facebook"></a></li>
        <li><a href="https://www.linkedin.com/in/krishna-kanth-b8770058/ " class="fa fa-linkedin"></a></li>
        <li><a href="https://github.com/kittu603" class="fa fa-github"></a></li>
    </ul>

        <h1 style="color: blanchedalmond;"> <strong>Provide your details, we will contact you soon!</strong> </h1>
        <br></br>
        
        <form method="POST">
            <table  style="color: blanchedalmond;">
                {{ form.as_table }}
                {% csrf_token %}
                <tr>
                    <td>&nbsp;</td>
                    <p></p>
                    <td></td>
                </tr>
            </table> 

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    

{% endblock %}

    