<!DOCTYPE html>
{% extends "jobs/base.html" %}
{% load static %}
{% block body_block %}
    <div class="jumbotron">
        <div class="container text-center" style="color:rgb(43, 226, 211)">
            <h1>My Portfolio</h1>
            <p>This page is for me, by me and to U.....!!!!!</p>

            <p>
                <a href="mailto:kittu.603@gmail.com" class="btn btn-primary my-2">Email me</a>
            </p>

            <img src="{% static 'profile_pic.jpg' %}" alt="Missing Image" height="300">

            <p> Wanna know more??? Click below :)</p>
            <a href="{% static 'resume.doc' %}" target="_blank" rel="nofollow noopener noreferrer" class="btn btn-primary my-2">Resume</a>
            

        </div>
    </div>
{% endblock %}

