<!DOCTYPE html>
{% extends "jobs/base.html" %}
{% block body_block %}

    <div class="container-fluid bg-3 text-center">
        <h3>Glimpse of my projects in my jobs</h3>
        <br><br/>

        <p></p>

        
        <div class="jumbotron">
            <div class="row">
                {% for job in jobs_data.all %}
                
                <div class='col-md-4'>
                    <div class="card mb-4 shadow-sm">
                        <img src="https://placehold.it/150x80?text=IMAGE" class="card-img-top" style="width:100%" alt="Image">
                        <div class="card-body">
                            <p class='card-text'>{{ job.summary }}</p>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            
            </div>

        </div>
       
    </div><br>
    
{% endblock %}